@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic custom styles */
html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* placeholder utility */
.image-placeholder {
  background: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.02));
}


.culture-hero {
  background-image: url("./assets//background.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Dark overlay for readability */
.culture-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
